h1 {
  font-weight: 800px;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}

input {
  width: 100%;
}

.items-container{
  text-align: left;
}

.ut-row{
  margin: 10px 5px;
}

.ut-btn{
  min-width: 80px;
}